@model OracleFiddler.WebUi.Models.SchemaExplorer.IndexViewModel
           
<div class="row-fluid">
    <div class="span2">
        <dl>
            <dt>Total Tables</dt>
            <dd>@Model.Summary.TablesCount</dd>
            <dt>Average Number of Columns</dt>
            <dd>@Model.Summary.AverageColumnsPerTable</dd>
            <dt>Max Number of Columns</dt>
            <dd>@Model.Summary.MaxColumnsPerTable</dd>
        </dl>
    </div>
    <div class="span10">
        <table id="grid" class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Table</th>
                    <th>Column</th>
                    <th>Data Type</th>
                    <th>Is Nullable</th>
                    <th>Entity</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var table in Model.Tables.Where(x => x.Columns.Any()))
                {
                    var firstColumn = table.Columns.First();
            
                    <tr>
                        <td rowspan="@table.Columns.Count">@table.Owner</td>
                        <td rowspan="@table.Columns.Count">@table.Name</td>
                        <td>@firstColumn.Name</td>
                        <td>@firstColumn.DataType</td>
                        <td>@firstColumn.IsNullable</td>
                        <td rowspan="@table.Columns.Count">
                            <pre>@table.EntityCode</pre>
                        </td>
                    </tr>
            
                    foreach (var column in table.Columns.Skip(1))
                    {
                        <tr>
                            <td>@column.Name</td>
                            <td>@column.DataType</td>
                            <td>@column.IsNullable</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>