@model TableViewModel
           
<div class="row-fluid">
    <div class="span4">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Data Type</th>
                    <th>Is Nullable</th>
                    <th>Constraints</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Columns)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.DataType</td>
                        <td>@item.IsNullable</td>
                        <td>@item.Constraints.JoinUsing(", ")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="span4"><pre class="brush: csharp">@Model.EntityCode</pre></div>
    <div class="span4"><pre class="brush: csharp">@Model.MappingCode</pre></div>
</div>